altgraph==0.17.4
numpy==2.0.1
packaging==24.1
pefile==2023.2.7
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
pywin32-ctypes==0.2.2
pytest==8.3.2
configparser==7.0.0
yfinance==0.2.41
tqdm==4.66.5
alpha_vantage==3.0.0
